.color-red
  background-color: #D64626
  color:  #fff
.color-red *
  color:  #fff
.r30
  border-radius: 30px !important
.h45
  height: 45px
.shadow-box
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, .2);
.acordion__titulo h3
  font-size: 1.1em
.bg-image-cover
  background-size: contain !important
.bg-image-cover2
  background-image: url("../assets/curso/img_33.png")
  background-size: contain !important
.color-neutro
  background-color: #faebd7
.color-neutro:before
  background-color: #fff
.tarjeta.color-secundario
  background-color:  aliceblue
.tarjeta--boton
  cursor: default
.table>thead
  background-color: brown
  color: #fff
.color-deepRed
  background-color: #b96f6f
.subhead td
  background-color: antiquewhite
  font-weight: 700
.cajon.color-primario
  background-color: antiquewhite
.tarjeta--boton.color-primario:active, .tarjeta--boton.color-primario:focus, .tarjeta--boton.color-primario:hover
  background-color: #fff
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .2)
.tarjeta--boton.color-primario:active *, .tarjeta--boton.color-primario:focus *, .tarjeta--boton.color-primario:hover *
  color: #000
.tarjeta--gris
  border: 0px !important

.flipInX
  -webkit-backface-visibility: visible !important
  backface-visibility: visible !important
  -webkit-animation-name: flipInX
  animation-name: flipInX
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

@-webkit-keyframes flipInX
  0%
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    -webkit-transition-timing-function: ease-in
    transition-timing-function: ease-in
    opacity: 0

  40%
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    -webkit-transition-timing-function: ease-in
    transition-timing-function: ease-in

  60%
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg)
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg)
    opacity: 1

  80%
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg)

  100%
    -webkit-transform: perspective(400px)
    transform: perspective(400px)

@keyframes flipInX
  0%
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    -webkit-transition-timing-function: ease-in
    transition-timing-function: ease-in
    opacity: 0

  40%
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    -webkit-transition-timing-function: ease-in
    transition-timing-function: ease-in

  60%
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg)
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg)
    opacity: 1

  80%
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg)

  100%
    -webkit-transform: perspective(400px)
    transform: perspective(400px)


.customFlip:hover
  transform: scale(1.1, 1.1)